h1 {
    font-size: 16pt;
    margin: 0px;
}

p {
    margin: 0px;
}

canvas {
    border: 1px solid black;
    cursor: crosshair;
}
#nick_desc{
padding:10px;
position:absolute;
display:none;
max-width:300px;
}
#sendbtn,#cleanbtn{/*text only button*/
font-size: 12pt;
margin:0px;
padding:0px;
}
#volumebtn,#connectbtn{/*graph only button*/
margin:1px;
padding:1px;
width: 21px;
height: 21px;
}
.btn-icon{
margin:2px;
padding:2px;
width: 16px;
height: 16px;
}
.btn-icon-mute{
background-image: url(http://moa.cse.tw/jtv/css/images/ui-icons_454545_256x240.png);
background-position: -128px -160px;
}
.btn-icon-sound{
background-image: url(http://moa.cse.tw/jtv/css/images/ui-icons_cc0000_256x240.png);
background-position: -144px -160px; 
}
.btn-icon-offline{
background-image: url(http://moa.cse.tw/jtv/css/images/ui-icons_454545_256x240.png);
background-position: -32px -176px;
}
.btn-icon-online{
background-image: url(http://moa.cse.tw/jtv/css/images/ui-icons_cc0000_256x240.png);
background-position: -32px -176px; 
}