<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>WebSocket Chat</title>
<script type="text/javascript" src="/chat/lang.js" charset="utf-8"></script>
<script type="text/javascript" src="/chat/client.js" charset="utf-8"></script>
<script type="text/javascript" src="/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/jtv/js/jquery-ui-1.8.16.custom.min.js"></script>

<link type="text/css" href="/jtv/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<link type="text/css" href="/chat/client.css" rel="stylesheet" />
<script type="text/javascript">
//<![CDATA[
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-26874617-1' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
//]]>
</script>
</head>
<body>
	<div id="container">
		<ul id="logpanel" style="text-align: left; max-width: 340px; height: 470px; overflow-y: scroll; overflow-x: hidden; margin-top: 5px; list-style-type: none; list-style-position: outside; padding-left: 0px;"></ul>
		<div id="controls" style="max-width: 340px;">
			<hr style="width: 320px;" align="left" />
			<p id="nickword" style="display:inline;"></p>: <input type="text" id="nick" size="8" />
			<p id="msgword" style="display:inline;"></p>: <input type="text" id="message" />
			<input id="sendbtn" type="button" value="send" />
			<input id="cleanbtn" type="button" value="clean" />
			<button id="volumebtn" type="button" ></button>
			<button id="connectbtn" type="button" ></button>
		</div>
	</div>
	<div id="nick_desc" class="ui-widget ui-widget-content ui-corner-all" style="position: absolute; display: none;"></div>
	<audio id="bee">
		<source src="/chat/bee.wav" type="audio/wav" />
		Your browser does not support the audio element.
	</audio>
	<script type="text/javascript">
	//<![CDATA[
		var client = new Chatroom('log');
		client.connect();
	//]]>
	</script>
</body>
</html>
